<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n staticfiles %}
{% load staticfiles %}
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">



{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}

{% compress css %}
<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
<link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">
<link rel="stylesheet" href="{% static "font-awesome-4.5.0/css/font-awesome.min.css" %}">
<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
 <link rel="stylesheet" href="{% static "state_type/webfont/stateface-regular-webfont.ttf" %}">
    <!--glyphs for us states-->
<!--<link rel="stylesheet" href="{% static "stately/assets/css/stately.css" %}">-->

<!--MY CUSTOM CSS-->
<link href="{{ STATIC_URL }}less/blog.less" media="all" rel="stylesheet/less" type="text/css"/>
    <link href="{{ STATIC_URL }}less/base.less" media="all" rel="stylesheet/less" type="text/css"/>

{% load compress %}

{% if debug %}
    <script src="{{ STATIC_URL }}js/less.min.js"></script>
{% endif %}

    {% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/bootstrap-rtl.css" %}">
{% endif %}
{% ifinstalled cartridge.shop %}
<link rel="stylesheet" href="{% static "css/cartridge.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
{% endif %}


{% endifinstalled %}

{% endcompress %}

{% compress js %}

<script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
    <script src="{% static "js/displaywhenReady.js" %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>


<!--MY JS-->
<script src="{% static "js/bootstrap-extras.js" %}"></script>


{% block extra_js %}{% endblock %}
{% endcompress %}

<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<script src="{% static "js/respond.min.js" %}"></script>
<![endif]-->

{% block extra_head %}{% endblock %}

</head>

<body id="{% block body_id %}body{% endblock %}" class="hidden">

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
<!--<div class="navbar navbar-default nav-stacked affix" role="navigation">-->
    <div class="container">
        <!-- I THINK THIS IS THE ADMIN STUFF-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">{% trans "Toggle Navigation" %}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        {% block navbar_title %}
            {% if settings.SITE_TITLE %}<a class="navbar-brand" href="/">{{ settings.SITE_TITLE }}</a>{% endif %}
            {% if settings.SITE_TAGLINE %}
                <p class="navbar-text visible-md">{{ settings.SITE_TAGLINE }}</p>
            {% endif %}
        {% endblock%}
    </div>

        <!-- LEFT NAV BAR-->
        <div class="navbar-collapse collapse">
            <!-- SEARCH BAR-->
            <!--{% block navbar_search_form %}{% search_form "all" %}{% endblock %}-->

            <!-- PAGES -->

            <!-- THIS BLOCK AUTOMATICALLY GENERATES ALL PAGES-->
            <!-- TODO: find a way to add an icon to the database so each page link renders with its icon-->
            {% block navbar_dropdown_menu %}{% page_menu "pages/menus/dropdown.html" %}{% endblock%}

            <!-- UNTIL I FIGURE OUT THE ABOVE LETS JUST HARD CODE THE LINKS-->

            <ul class="nav navbar-nav">
                <!-- pages-->
            </ul>

            <!-- SOCIAL ICONS-->
            <ul class="nav navbar-nav navbar-right">

                <li><a href="https://twitter.com/jstoebel" target="_blank" class="fa fa-twitter fa-3x"></a></li>
                <li><a href="https://github.com/jstoebel" target="_blank" class="fa fa-github-square fa-3x"></a></li>
                <li><a href="https://www.linkedin.com/in/jacob-stoebel-71705223" target="_blank" class="fa fa-linkedin-square fa-3x"></a></li>

                <!-- TODO LINK TO BLOG RSS-->
                <li><a href="/blog/feeds/rss/" class="fa fa-rss fa-3x"></a></li>
            </ul>


        </div>



    </div>
</div>



<div class="container">

{% nevercache %}
{% if messages %}
<div class="messages">
{% for message in messages %}
<div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ message }}
</div>
{% endfor %}
</div>
{% endif %}
{% endnevercache %}



<!--BREADCRUMBS: not using them now but saving for later-->
<!--<ul class="breadcrumb">-->
<!--{% spaceless %}-->
<!--{% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}-->
<!--{% endspaceless %}-->
<!--</ul>-->

</div>

<!--MAIN CONTENT OF PAGE!-->
<div class="container-fluid">
    <div class="row">


    <div id="left-bar" class="col-sm-2 sidebar-outer">
        <div id="left-bar-inner" class="sidebar">
            {% include "sidebar.html" %}
        </div>
    </div>




<!--PAGE TREE LEFT SIDE OF PAGE-->
<!--<div class="col-md-2 left">-->
    <!--{% block left_panel %}-->
    <!--<div class="panel panel-default tree">{% page_menu "pages/menus/tree.html" %}</div>-->
    <!--{% endblock %}-->
<!--</div>-->

<!--MAIN CONTENT-->
<div class="col-xs-12 col-sm-8 center">
    <h1>{% block title %}{% endblock %}</h1>
    {% block main %}{% endblock %}
</div>



    <div class="hidden-xs col-sm-2 left sidebar-outer">
        {% nevercache %}

        <!-- not using these-->
        <!--{% include "includes/language_selector.html" %}-->
        <!--{% include "includes/user_panel.html" %}-->

        {% endnevercache %}
        {% if request.path == '/' or 'blog' in request.path %}
        <div class="panel sidebar panel-default right-panel">
        <div class="panel-body">
        {% block right_panel %}
        {% ifinstalled mezzanine.twitter %}
        {% include "twitter/tweets.html" %}
        {% endifinstalled %}
        {% endblock %}
        </div>
        </div>
        {% endif %}


    </div>


</div>
</div>

<footer>
<div class="container">


<div class="row">
<p class="site-info site-info1 text-center">
    Made with <i class="fa fa-heart"></i> and <i class="ionicons ion-social-python"></i> in <i id="ky-icon">Q</i>.
</p>



<p class="site-info site-info2 text-center">
    {% trans "Powered by" %}
    <a href="http://mezzanine.jupo.org">Mezzanine</a>{% ifinstalled cartridge.shop %},
    <a href="http://cartridge.jupo.org">Cartridge</a>{% endifinstalled %}
    {% trans "and" %}
    <a href="http://www.djangoproject.com">Django</a>
    <span class="separator">|</span>
    {% trans "Theme by" %} <a target="_blank" href="http://getbootstrap.com">Bootstrap</a>
    {% ifinstalled mezzanine.mobile %}
    <span class="separator">|</span>
    <a href="{% url "set_device" "mobile" %}?next={{ request.path }}">{% trans "View Mobile Site" %}</a>
    {% endifinstalled %}
</p>
</div>
</div>
</footer>

{% block footer_js %}
{% include "includes/footer_scripts.html" %}
{% endblock %}

</body>
</html>