//blog.less
@import "base.less";


a.blog-title,
a.blog-title:hover,
a.blog-title:visited {

    font-family: Roboto;
    text-decoration: none;
    border-bottom: none;
}

.blog-category.badge {
    border: none;
    background-color: @green;
}