//blog.less
@import "base.less";


a.blog-title,
a.blog-title:hover,
a.blog-title:visited {

    font-family: Roboto;
    text-decoration: none;
    border-bottom: none;
}


a.blog-category.badge,
a:visited.blog-category.badge,
a:hover.blog-category.badge,
a:active.blog-category.badge{
    color: black;
    border: none;
    background-color: @green;
}

a:hover.blog-category.badge {
    opacity: 0.75;
}